@font-face {
  font-family: publicPixel;
  src: url("./assets/PublicPixel.ttf"); /* Adjust the path if needed */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: publicPixel;
  line-height: 20px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /*padding: 0;*/
  background-color: #deb887;
  cursor: url("/assets/cursor-cur.cur"), default;
}

a {
  text-decoration: none;
  cursor: url("assets/cursor.cur"), pointer;
}

.home-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-container {
  min-height: 150vh;
  width: 100%;
  padding-top: 100px;
}

.section-title {
  align-items: center;
  justify-content: center;
  font-size: 20px;
  display: none;
  text-shadow: 2px -2px 2px #ce5937;
}

.section-title-animation {
  animation: fadeInRight 2s ease-in-out;
  display: flex;
}

.line {
  margin-top: 20px;
  border: 3px dotted black;
}

.line-animation {
  animation: fadeInLeft 3s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

/* Home Section*/
#home {
  background-color: aquamarine;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.go-nav {
  padding-top: 20%;
  font-size: 20px;
  position: absolute;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.about-me-button {
  padding: 5px;
  background-color: black;
  box-shadow: 0px 0px 2px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 2px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 2px 10px rgba(0, 0, 0, 0.8);
}

.about-me-button:hover {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 2px 10px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 2px 10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 2px 10px rgba(0, 0, 0, 1);
  transition: 1s;
}

.about-me-button a {
  color: #3f3;
  text-decoration: none;
  margin: 0px 10px;
  font-size: 20px;
  animation: button-blink 2s infinite;
}

.about-me-button a:hover {
  text-decoration: none;
  margin: 0px 10px;
  font-size: 20px;
  animation: none;
  transition: 0.5s;
}

@keyframes button-blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.text-box {
  border: 4px solid black;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aliceblue;
  background-color: black;
  box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  width: 400px;
}

.pixelCon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.pixel {
  width: 25%;
  height: 20%;
  padding-top: 10%;
  float: left;
  opacity: 0;
  animation: blink 6s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
    background-color: #efdc43;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8) inset;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8) inset;
  }
  50% {
    opacity: 0.3;
    background-color: #6251ca;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8) inset;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8) inset;
  }

  75% {
    opacity: 0.3;
    background-color: #f8251b;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8) inset;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.8) inset;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typed {
  0%,
  2.1635021645% {
    content: "K";
  }
  2.1645021645%,
  4.328004329% {
    content: "Ka";
  }
  4.329004329%,
  6.4925064935% {
    content: "Kaa";
  }
  6.4935064935%,
  8.657008658% {
    content: "Kaan";
  }
  8.658008658%,
  10.8215108225% {
    content: "Kaan ";
  }
  10.8225108225%,
  12.986012987% {
    content: "Kaan O";
  }
  12.987012987%,
  15.1505151515% {
    content: "Kaan Oz";
  }
  15.1515151515%,
  17.315017316% {
    content: "Kaan Oze";
  }
  17.316017316%,
  64.5011645022% {
    content: "Kaan Ozen";
  }
  64.5021645022%,
  66.2327662338% {
    content: "Kaan Oze";
  }
  66.2337662338%,
  67.9643679654% {
    content: "Kaan Oz";
  }
  67.9653679654%,
  69.695969697% {
    content: "Kaan O";
  }
  69.696969697%,
  71.4275714286% {
    content: "Kaan ";
  }
  71.4285714286%,
  73.1591731602% {
    content: "Kaan";
  }
  73.1601731602%,
  74.8907748918% {
    content: "Kaa";
  }
  74.8917748918%,
  76.6223766234% {
    content: "Ka";
  }
  76.6233766234%,
  78.353978355% {
    content: "K";
  }
  78.354978355%,
  100% {
    content: "​";
  }
}

.home-text {
  font-size: 18px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3f3;
}

.home-text::after {
  content: "​";
  padding-right: 3px;
  padding-right: calc(3px + 0.1vw);
  border-right: 10px solid rgba(51, 255, 51, 0.75);
  border-right: calc(1.1vw + 4px) solid rgba(51, 255, 51, 0.75);
  text-shadow: 0 0 5px rgba(51, 255, 51, 0.75);
  white-space: nowrap;
  animation: typed 4.62s linear 1s infinite, beam-blink 1s infinite;
}

#main-nav {
  background-color: #1e1e1e;
  padding-top: 20px;
  text-align: center;
  justify-content: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  height: 65px;
  box-shadow: 0px -3px 10px 1px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0px -3px 10px 1px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0px -3px 10px 1px rgba(0, 0, 0, 0.85);
  display: flex;
  z-index: 999;
}
/* Home Section */

/* Nav Section */
nav a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
  margin-right: 50px;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
  color: #04aa6d;
  transition: 1s;
}

#main-nav.sticky {
  position: fixed;
  top: 0;
}

.navbarOffsetMargin {
  padding-top: 45px;
}

/* Nav Section */

/* About Section*/
#about {
  background-color: #ffff0080;
}

.about-body {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  color: #444;
  padding-top: 100px;
}

.about-img {
  display: grid;
  grid-column-gap: 20px;
  grid-template-rows: repeat(2, 2fr);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about-img img {
  border-radius: 200px;
  border: 1px solid #000000;
  background-color: #04aa6d;
  box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.65);
}

.flip-box {
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: 250px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  color: black;
}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}

.about-me {
  padding: 18px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: lighter;
}

.about-me mark {
  color: #000000;
  background-color: #04aa6d;
  font-size: 16px;
  font-style: oblique;
  animation: button-blink 2s infinite;
}

#skill-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px 80px;
  padding-right: 20px;
  padding-bottom: 30px;
  text-align: center;
}

.skill-container {
  width: 60%;
  margin: 20px auto;
  margin-bottom: 100px;
  padding: 10px;
}

.skill-container p {
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bolder;

  text-shadow: 2px 2px 0 #7a7a7a;
  color: black;
}

.progress {
  width: 100%;
  height: 32px;
  padding: 4px 6px;

  background: rgb(196, 196, 196);
  background: linear-gradient(
    90deg,
    rgba(196, 196, 196, 1) 0%,
    rgba(100, 100, 100, 1) 100%
  );

  border-radius: 10px;
  box-shadow: 3px -3px 10px 0px rgba(43, 43, 43, 1);
  -webkit-box-shadow: 3px -3px 10px 0px rgba(43, 43, 43, 1);
  -moz-box-shadow: 3px -3px 10px 0px rgba(43, 43, 43, 1);
}

.progress .progress-bar {
  width: 0%;
  opacity: 0;
  height: 100%;

  background: rgb(13, 13, 13);
  background: linear-gradient(
    90deg,
    rgba(13, 13, 13, 1) 0%,
    rgba(4, 170, 109, 1) 100%
  );

  border-radius: 10px;
  position: relative;
  transition: all 1s;
}

.progress-bar span {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

/* About Section End*/

/* Projects Section*/
#projects {
  background-color: #0000ff8f;
}

.project-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fa8072;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 10px;

  box-shadow: 10px -10px 3px -5px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px -10px 3px -5px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px -10px 3px -5px rgba(0, 0, 0, 0.47);
}

.card {
  width: auto;
  height: auto;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  background-color: #dadada;
}

.project-1 {
  background-image: url(assets/movieSearchAppJs.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
}

.project-2 {
  background-image: url(assets/todoApp.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
}

.project-3 {
  background-image: url(assets/youtube-clone.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
}

.project-4 {
  background-image: url(assets/weatherApp.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
}

.project-5 {
  background-image: url(assets/multiPage.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000;
}

.project-6 {
  background-image: url(assets/colorSchemeGenerator.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #dfd5c3;
}
.card p {
  opacity: 0;
  transition: 0.8s;
  font-size: 15px;
  font-weight: bold;
  color: wheat;
  padding: 12px;
}

.card .info-text {
  font-size: 8px;
  font-weight: lighter;
}

.card button {
  border: 2px solid #787cb5;
  width: 160px;
  height: 40px;
  background-color: transparent;
  color: #787cb5;
  margin-left: 50px;
  cursor: url("/assets/cursor.cur"), pointer;
}

.card button {
  opacity: 0;
  transform: scale(0);
  transition: 0.8s;
}

.card:hover {
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.774) inset;
}

.card:hover p {
  opacity: 1;
  transform: scale(1);
}

.card:hover button {
  opacity: 1;
  transform: scale(1);
}

.card:hover button:hover {
  background-color: #787cb5;
  color: antiquewhite;
  transform: scale(1.2);
}

/* Projects Section End*/

/* Contacts Section*/
#contact {
  background-color: burlywood;
}

.contact-text {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}

.contact-box {
  position: static;
  min-height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 20px 20px 20px 20px;
  overflow: hidden;
  background-color: #787cb5;
  box-shadow: 10px -10px 3px -5px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 10px -10px 3px -5px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 10px -10px 3px -5px rgba(0, 0, 0, 0.47);
  width: 97%;
}

ul {
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: static;
}

label {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bolder;
}

input[type="text"] {
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: publicPixel;

  cursor: url("/assets/text-notfocus.cur"), text;
}

input[type="text"]:focus {
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: publicPixel;
  background-color: #000000;
  color: #04aa6d;
  transition: 0.6s;
  cursor: url("/assets/text.cur"), text;
}

input[type="email"] {
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: publicPixel;
  cursor: url("/assets/text.cur"), text;
  cursor: url("/assets/text-notfocus.cur"), text;
}

input[type="email"]:focus {
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: publicPixel;
  background-color: #000000;
  color: #04aa6d;
  transition: 0.6s;
  cursor: url("/assets/text.cur"), text;
}

textarea {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: publicPixel;
  resize: none;
  cursor: url("/assets/text-notfocus.cur"), text;
}

textarea:focus {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: publicPixel;
  font-family: publicPixel;
  background-color: #000000;
  color: #04aa6d;
  transition: 0.6s;
  cursor: url("/assets/text.cur"), text;
}

button {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 50px;
  width: 100px;
  height: 50px;
  float: right;
  border: none;
  color: #000000;
  background-color: #787cb5;
  transition: 0.6s;
  border-radius: 2px;
  box-shadow: 1px 4px 11px 1px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 1px 4px 11px 1px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 1px 4px 11px 1px rgba(0, 0, 0, 0.73);
  font-family: publicPixel;
  font-size: 12px;
  cursor: url("/assets/cursor.cur"), pointer;
}

button:hover {
  color: #04aa6d;
  background-color: #000000;
  border-radius: 4px;
  box-shadow: -2px 2px 0px -4px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: -2px 2px 0px -4px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: -2px 2px 0px -4px rgba(0, 0, 0, 0.73);
}

/* Contacts Section End*/

/* Footer Section Start*/

.footer {
  min-height: 300px;
  width: 100%;
  padding-top: 100px;
  background-color: #ff0000cc;
}

.footer-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-text {
  margin-left: 20px;
}

.footer-text h2 {
  text-transform: uppercase;
  font-size: 18px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 20px;
}

.footer-links p {
  float: right;
  text-transform: uppercase;
  font-size: 18px;
}

.footer-links img {
  float: right;
  width: 32px;
  height: 32px;
}

.footer-line {
  height: 1px;
  background-color: black;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer-feet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Footer Section End*/
@media screen and (max-width: 870px) {
  .project-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .contact-box {
    width: 94%;
  }

  .go-nav {
    padding-top: 40%;
  }
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .contact-box {
    width: 92%;
  }

  nav a {
    font-size: 10px;
    margin-right: 5px;
  }

  .text-box {
    width: 300px;
  }

  .home-text {
    font-size: 13px;
  }

  h1 {
    font-size: 13px;
  }

  .go-nav {
    padding-top: 50%;
  }
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .about-body {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    margin-left: 20px;
  }
  .modal-content {
    width: 100%;
  }
}

/* Popup Screen Design Start*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  box-shadow: 0px 0px 5px 61px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 61px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 61px rgba(0, 0, 0, 0.75);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
}

.close:hover,
.close:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
/* Popup Screen Design End*/
